# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry files
poetry.lock

# VS Code settings folder
.vscode/

# pyenv
.python-version

# pipenv
Pipfile
Pipfile.lock


# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Docker-related files
*.log
docker-compose.override.yml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environment variables file
.env

